<!DOCTYPE html>
<html lang="en">
<head>
	<include file="public/head"/>
	<title>新闻资讯--news</title>
</head>
<body>
	<!--moblie-nav begin-->
	<div class="mobile-nav">
		<ul class="menu">
			<li><a href="__ROOT__">首页</a></li>
			<include file="public/nav"/>
			<li><a class="active" href="__ROOT__/newsList">新闻资讯</a></li>
			<li><a href="__ROOT__/contact">联系我们</a></li>
			<li><a href="http://www.9game.cn/" target="_blank">九游网</a></li>
		</ul>					
	</div> 
<!--mobile-nav end-->

<!--header beign-->
	<div class="header">
		<div class="wrapper">
			<div class="main">
				<a class = "logo" href="__ROOT__"><i class = "green">Yao</i>wan</a>
				<strong></strong>
				<div class="nav">
					<ul class="menu">
						<li><a href="__ROOT__">首页</a></li>
						<include file="public/nav"/>
						<li><a class="active" href="__ROOT__/newsList">新闻资讯</a></li>
						<li><a href="__ROOT__/contact">联系我们</a></li>
						<li><a href="http://www.9game.cn/" target="_blank">九游网</a></li>
					</ul>					
				</div>
				<a id="showMenu" class="showMenu" href="javascript:;"><span></span></a>
			</div>
		</div>
	</div>
<!--header end-->
<!--main begin-->
<div class="content-box">
	<div class="content-wrap">
		<div class="content">
			<div class="sidebar">
				<div class="side-main">
					<h2><a href="{:U('newsList/index')}">新闻资讯</a></h2>
				</div>
			</div>
			
			<div class="title">
				<h2><a href="{:U('newsList/index')}">新闻资讯</a></h2>
			</div>
			<div class="main news-main">
				<div class="wrapper-news">				
					<volist name="news" id="vo">
						<h2>{$vo.post_title}</h2>
						<h3>发布日期：{$vo.post_date}</h3>
						<p>{$vo.post_content}</p>
					</volist>
				</div>
			</div>
		</div>
	</div>
</div>
<!--main end-->
<!--footer begin-->
	<include file="public/footer"/>
<!--footer end-->
</body>
<include file="public/script"/>
</html>