<!DOCTYPE html>
<html lang="en">
<head>
	<include file="public/head"/>
	<link rel="stylesheet" type="text/css" href="__PUBLIC__/css/fontstyle.css">
	<title>新闻资讯--news</title>
</head>
<body>
<!--moblie-nav begin-->
	<div class="mobile-nav">
		<ul class="menu">
			<li><a href="__ROOT__">首页</a></li>
			<include file="public/nav"/>
			<li><a class="active" href="__ROOT__/newsList">新闻资讯</a></li>
			<li><a href="__ROOT__/contact">联系我们</a></li>
			<li><a href="http://www.9game.cn/" target="_blank">九游网</a></li>
		</ul>					
	</div> 
<!--mobile-nav end-->

<!--header beign-->
	<div class="header">
		<div class="wrapper">
			<div class="main">
				<a class = "logo" href="__ROOT__"><i class = "green">Yao</i>wan</a>
				<strong></strong>
				<div class="nav">
					<ul class="menu">
						<li><a href="__ROOT__">首页</a></li>
						<include file="public/nav"/>
						<li><a class="active" href="__ROOT__/newsList">新闻资讯</a></li>
						<li><a href="__ROOT__/contact">联系我们</a></li>
						<li><a href="http://www.9game.cn/" target="_blank">九游网</a></li>
					</ul>					
				</div>
				<a id="showMenu" class="showMenu" href="javascript:;"><span></span></a>
			</div>
		</div>
	</div>
<!--header end-->
<!--main begin-->
<div class="content-box">
	<div class="content-wrap">
		<div class="content">
			<div class="sidebar">
				<div class="side-main">
					<h2>新闻资讯</h2>
				</div>
			</div>
			
			<div class="title">
				<h2>新闻资讯</h2>
			</div>
			<div class="main news-main">
				<div class="wrapper">
				<ul class="news-list">
					<volist name="item" id="vo">
						<li>
							<!-- <a href="{:U('news/index','','')}/id/{$vo.ID}"> -->
							<a href="__ROOT__/news/{$vo.ID}">
								<i class="arrow_carrot-2right"></i>
								<span>{$vo.post_title}</span>
								<span class="date">{$vo.post_date}</span>
							</a>
						</li>
					</volist>
					
				</ul>
				<div class="pagination-box">
					<ul class="pagination">
						 <li>
              				<if condition="$page['page'] eq 1">
			                <span>上一页</span>
			                <else/>
			                <a href="__ROOT__/newsList/index/page/{$page['page'] - 1}">上一页</a>
			              </if>
			            </li>
			            <for start="1" end="$page['page_count'] + 1">
			              <li>
			                <if condition="$i eq $page['page']">
			                  <span>{$page.page}</span>
			                  <else/>
			                  <a href="__ROOT__/newsList/index/page/{$i}">{$i}</a>
			                </if>
			              </li>
			            </for>
			            <li>
			              <if condition="$page['page'] egt $page['page_count']">
			                <span>下一页</span>
			                <else/>
			                <a href="__ROOT__/newsList/index/page/{$page['page'] + 1}">下一页</a>
			              </if>
			            </li>
					</ul>
				</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--main end-->
<!--footer begin-->
<include file="public/footer"/>
<!--footer end-->
</body>
<include file="public/script"/>
</html>