<!DOCTYPE html>
<html lang="en">
<head>
	<include file="public/head"/>
	<title>耀玩网络科技有限公司</title>
</head>
<body>
<!--moblie-nav begin-->
	<div class="mobile-nav">
		<ul class="menu">
			<li><a class="active" href="__ROOT__">首页</a></li>
			<include file="public/nav"/>
			<li><a href="__ROOT__/newsList">新闻资讯</a></li>
			<li><a href="__ROOT__/contact">联系我们</a></li>
			<li><a href="http://www.9game.cn/" target="_blank">九游网</a></li>
		</ul>					
	</div> 
<!--mobile-nav end-->

<!--header beign-->
	<div class="header">
		<div class="wrapper">
			<div class="main">
				<a class = "logo" href="__ROOT__"><i class = "green">Yao</i>wan</a>
				<strong></strong>
				<div class="nav">
					<ul class="menu">
						<li><a class="active" href="__ROOT__">首页</a></li>
						<include file="public/nav"/>
						<li><a href="__ROOT__/newsList">新闻资讯</a></li>
						<li><a href="__ROOT__/contact">联系我们</a></li>
						<li><a href="http://www.9game.cn/" target="_blank">九游网</a></li>
					</ul>					
				</div>
				<a id="showMenu" class="showMenu" href="javascript:;"><span></span></a>
			</div>
		</div>
	</div>
<!--header end-->
<!--main begin-->
<div id="home" class="home-content">	
	<div class="gallery-wrap">
		<div class="gallery">
			<div class="slider-wrap">
				<ul id="slider" class="roundabout-holder">
				<volist name="slider" id="vo">
					<li class="roundabout-moveable-item"><img src="{$vo.guid}" alt=""/></li>
				</volist>          			
        		</ul>
			</div>			
		</div>
	</div>

	<div class="main-box">
      <div class="container">
        <div class="inside">

          <div class="sidebar">
            <h2>最新 <span>资讯</span></h2>

            <ul class="news">
            	<volist name="newItems" id="item" key="k">
            		<li class="item{$k}">
                     <div class='figure'><strong>{$item.post_date|date = 'd',###}</strong>{$item.post_date|date = 'M',###}</div>
                     <h3><a href="{:U('news/index','','')}/id/{$item.ID}">{$item.post_title}</a> </h3>
                     <p>{$item.post_content|msubstr=0,15,'utf-8',false}<a href="{:U('news/index','','')}/id/{$item.ID}"> ...</a> </p>
                   </li>
            	</volist>  
            </ul>

          </div>

          <div class="main">
            <h2>关于 <span>我们</span></h2>
            <p>耀玩网络科技有限公司成立于2015.8月坐落于美丽的国家级软件产业基地——广州天河软件园
				于鱼龙混杂的手游市场之中崛起，耀玩家族将自身定位为——做一个阳光闪耀的企业！不哄抬价格，诚信第一严格按照市场价值规律定价为开创高信誉、更稳定、高品质互联网营销平台带来一缕缕阳光闪耀于手游企业！
			</p>
			<div class="img-box">
				
			</div>
          </div>
        </div>
      </div>
    </div>

	</div>
<!--main end-->

<!--footer begin-->
	<include file="public/footer"/>
<!--footer end-->
</body>
<include file="public/script"/>
</html>