<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport"
        content="initial-scale=1, width=device-width, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="shortcut icon" href="__PUBLIC__/images/logo.jpg"/>
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/common.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/css/style.css">
	<title>加入我们--join us</title>
</head>
<body>
	<!--moblie-nav begin-->
<div class="mobile-nav">
	<ul class="menu">
		<li><a href="{:U('index/index')}">首页</a></li>
		<li><a href="{:U('about/index')}">关于我们</a></li>
		<li><a href="{:U('newsList/index')}">新闻资讯</a></li>
		<li><a href="{:U('manager/index')}">中国合伙人</a></li>
		<li><a class="active" href="{:U('join/index')}">加入家族</a></li>
		<li><a href="{:U('contact/index')}">联系我们</a></li>
		<li><a href="http://www.9game.cn/" target="_blank">九游网</a></li>
	</ul>					
</div>
<!--mobile-nav end-->

<!--header beign-->
<div class="header">
	<div class="wrapper">
		<div class="main">
			<a  class = "logo" href="{:U('index/index')}"><i class = "green">Yao</i>wan</a>
			<strong></strong>
			<div class="nav">
				<ul class="menu">
					<li><a href="{:U('index/index')}">首页</a></li>
					<li><a href="{:U('about/index')}">关于我们</a></li>
					<li><a href="{:U('newsList/index')}">新闻资讯</a></li>
					<li><a href="{:U('manager/index')}">中国合伙人</a></li>
					<li><a class="active" href="{:U('join/index')}">加入家族</a></li>
					<li><a href="{:U('contact/index')}">联系我们</a></li>
					<li><a href="http://www.9game.cn/" target="_blank">九游网</a></li>
				</ul>					
			</div>
			<a id="showMenu" class="showMenu" href="javascript:;"><span></span></a>
		</div>
	</div>
</div>
<!--header end-->
<!--main begin-->
<div class="content-box">
	<div class="content-wrap">
		<div class="content">
			<div class="sidebar">
				<div class="side-main">
					<h2>公司介绍</h2>
				<ul>
					<li><a href="{:U('about/index')}">关于我们</a></li>
					<li><a href="{:U('manager/index')}">管理团队</a></li>
					<li><a class="cur" href="{:U('join/index')}">加入我们</a></li>
					<li><a href="{:U('contact/index')}">联系我们</a></li>
				</ul>
				</div>
			</div>
			
			<div class="title">
				<h2>加入我们</h2>
			</div>
			<div class="main">
				<div class="wrapper">
					<div class="img-box contact-img"></div>
					<div class="main-box about-content">
						<p>招聘信息：</p></br>

						<p>岗位一：手游推广运营 & 公会管理运营</p>
						<p>岗位职责： </p>
						<p>1.拓展客户资源，推广公司平台及游戏； </p>
						<p>2.能够快速融入玩家群体，指导玩家玩游戏,沉淀玩家；</p>
						<p>3.引导游戏初期的操作刺激玩家消费；</p>
						<p>4.及时反馈和协助处理游戏异常状况；</p>
						<p>工作时间：早09：00至晚17:00 （单休），午休12：00---14:00 </p>
						<p>任职要求：</p>
						<p>1.大专学历及以上（欢迎优秀应届毕业生），接触过手机游戏即可，公司专业培训；
						</p>
						<p>2.性格乐观向上、抗压能力强，善与人交际；</p>
						<p>3.有良好的职业操守以及较强的客户服务意识；</p>
						<p>4.热爱手机游戏，熟悉计算机的基本操作；</p>
						<p>5.遵守公司制度，服从上级安排。</p></br>				
						<div class="cut-line"></div><br>
						<p>岗位二：文案编辑、新媒体运营、企划专员</p>
						<p>岗位职责： </p>
						<p>1.网站资讯的收集、编辑、发布等管理工作； </p>
						<p>2.平时文案的撰写(熟悉office办公软件)；</p>
						<p>3.负责手游专区的文章、图片、音乐、视频等相关内容的编辑、审核与发布</p>
						<p>任职要求：</p>
						<p>1.大专以上学历，喜欢游戏，尤其手游，具有相关工作经验者优先
                       欢迎优秀应届毕业生；
						</p>
						<p>2.文字撰写、长信息整理编辑等综合素养优秀(熟悉office办公软件)；</p>
						<p>3.自身责任心强，富有团队合作精神，善于理解与沟通；</p>
						<p>4.敢于在文案上对内容和形式上进行创作突破。</p></br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!--main end-->
<!--footer begin-->
	<div class="footer">
		<div class="wrapper">
			<div class="main">
				<div class="company-logo">
					<div class="logo"><img src="__PUBLIC__/images/logo.jpg"></div>
					<p>耀玩网络科技有限公司</p>
				</div>
				<div class="qrcode">
					<div class="content">
					<img src="__PUBLIC__/images/qrcode.png">
				</div>
				</div>				
				<div class="info">
					<p><a href="javascript:;">增值电信业务经营许可证：粤 XXXXXXXXXXX</p>
					<p><a href="javascript:;">网络文化经营许可证：粤网文 XXXXXXXXXXXX</p>
					<p><a href="javascript:;">互联网出版许可证：XXXXXXXXXXXXX</p>
					<p><a href="javascript:;">版权所有 &copy;耀玩网络科技有限公司</p>

				</div>
			</div>
		</div>
	</div>
	<!--footer end-->
</body>
<script type="text/javascript" src="__PUBLIC__/js/lib/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/common.js"></script>
</html>